body {
    font-family: 'Montserrat';
}

h1,
h2,
h3,
h4 {
    font-family: 'Monstserrat-bold';
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold !important;
}


/* HEADING */

.big-heading {
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}


/*****************************/

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7% !important;
}

.img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 1028px) {
    .img {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold !important;
}

.navbar {
    padding: 0 0 4.5rem !important;
}

.nav-item {
    padding: 0 18px !important;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Monstserrat-light';
}


/* Donwload Button */

.b1 {
    margin: 5% 3% 5% 0;
}

.f1 {
    color: #ef8172;
    size: 7px;
    margin-bottom: 1rem;
}

.f1:hover {
    color: #ff4c68;
}

.d1 {
    text-align: center;
    padding: 5%;
}

.p1 {
    color: #8f8f8f;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.test-img {
    width: 10%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.logo {
    width: 15%;
    margin: 20px;
}

#pricing {
    padding: 100px;
    text-align: center;
    ;
}

.pricing-col {
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    font-family: 'Monstserrat-bold';
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.cta-heading {
    font-family: 'Monstserrat-black';
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    background-color: #fff;
    text-align: center;
}